Web/ACM.Service.Client/Service References/AdServiceRef/AdService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ACM.AdService/AdService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACM.Model.CustomModel" />
  <xs:import schemaLocation="http://localhost/ACM.AdService/AdService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ACM.Model" />
  <xs:import schemaLocation="http://localhost/ACM.AdService/AdService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAdRestrictionCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdRestrictionCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACM.Model.CustomModel" minOccurs="0" name="GetAdRestrictionCategoryResult" nillable="true" type="q1:Restrictions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q2:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="GetOutstandingTaskResult" nillable="true" type="q3:ArrayOfAdOutStandingTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q4:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="AdInfoResult" nillable="true" type="q5:ArrayOfAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInq">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q6:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="AdInqResult" nillable="true" type="q7:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q8:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="AdAddResult" nillable="true" type="q9:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdMod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q10:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdModResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdModResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q11:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdRestriction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q12:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdRestrictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAdRestrictionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdLocationsByCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaignId" type="xs:int" />
        <xs:element minOccurs="0" name="adid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdLocationsByCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ACM.Model.CustomModel" minOccurs="0" name="AdLocationsByCampaignResult" nillable="true" type="q13:ArrayOfAdlocationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMediaFileTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdlocationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMediaFileTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckMediaFileTypesResult" nillable="true" type="q14:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdsByCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaignId" type="xs:int" />
        <xs:element minOccurs="0" name="deploymentPeriodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdsByCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ACM.Model.CustomModel" minOccurs="0" name="AdsByCampaignResult" nillable="true" type="q15:ArrayOfAdInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdRestrictionFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaignId" type="xs:int" />
        <xs:element minOccurs="0" name="adid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdRestrictionFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAdRestrictionFlagResult" nillable="true" type="q16:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdAdRestrictionFlagAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="ad" nillable="true" type="q17:Ad" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="flags" nillable="true" type="q18:ArrayOfint" />
        <xs:element minOccurs="0" name="applyAll" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdAdRestrictionFlagAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdAdRestrictionFlagAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInfoInq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaignId" type="xs:int" />
        <xs:element minOccurs="0" name="adid" type="xs:int" />
        <xs:element minOccurs="0" name="deploymentPeriodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInfoInqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ACM.Model.CustomModel" minOccurs="0" name="AdInfoInqResult" nillable="true" type="q19:AdInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdStatusModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q20:AdDeploymentPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdStatusModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdStatusModifyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdStatusInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q21:AdDeploymentPeriod" />
        <xs:element minOccurs="0" name="deploymentPeriodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdStatusInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="AdStatusInquiryResult" nillable="true" type="q22:AdDeploymentPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>