Web/ACM/Service References/AdServiceRef/AdService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACM.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACM.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ad">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATMType" nillable="true" type="tns:ATMType" />
      <xs:element minOccurs="0" name="ATMTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdId" type="xs:int" />
      <xs:element minOccurs="0" name="AdLocation" nillable="true" type="tns:AdLocation" />
      <xs:element minOccurs="0" name="AdLocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdOutStandingTask" nillable="true" type="tns:AdOutStandingTask" />
      <xs:element minOccurs="0" name="AdProductType" nillable="true" type="tns:AdProductType" />
      <xs:element minOccurs="0" name="AdProductTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdRestriction" nillable="true" type="tns:AdRestriction" />
      <xs:element minOccurs="0" name="AdRestrictionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DNSScrubLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Field1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field10" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Field2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field8" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Field9" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MediaFileIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MediaFileTagMx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaFileTagWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaVendorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ad" nillable="true" type="tns:Ad" />
  <xs:complexType name="ATMType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATMTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ATMTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ads" nillable="true" type="tns:ArrayOfAd" />
      <xs:element minOccurs="0" name="MediaFileTypes" nillable="true" type="tns:ArrayOfMediaFileType" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATMType" nillable="true" type="tns:ATMType" />
  <xs:complexType name="ArrayOfAd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ad" nillable="true" type="tns:Ad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAd" nillable="true" type="tns:ArrayOfAd" />
  <xs:complexType name="ArrayOfMediaFileType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MediaFileType" nillable="true" type="tns:MediaFileType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMediaFileType" nillable="true" type="tns:ArrayOfMediaFileType" />
  <xs:complexType name="MediaFileType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATMType" nillable="true" type="tns:ATMType" />
      <xs:element minOccurs="0" name="ATMTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="FileExt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSpecSize" type="xs:int" />
      <xs:element minOccurs="0" name="GroupCode" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAnimated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFlash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsStaticImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaFileType" nillable="true" type="tns:MediaFileType" />
  <xs:complexType name="AdLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdLocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdLocationDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdLocationMedias" nillable="true" type="tns:ArrayOfAdLocationMedia" />
      <xs:element minOccurs="0" name="AdLocationOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ads" nillable="true" type="tns:ArrayOfAd" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Discontinued" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="tns:Language" />
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegFileCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistryKeyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportUnderbooked" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerifiedBy" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdLocation" nillable="true" type="tns:AdLocation" />
  <xs:complexType name="ArrayOfAdLocationMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdLocationMedia" nillable="true" type="tns:AdLocationMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdLocationMedia" nillable="true" type="tns:ArrayOfAdLocationMedia" />
  <xs:complexType name="AdLocationMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdLocation" nillable="true" type="tns:AdLocation" />
      <xs:element minOccurs="0" name="AdLocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DuplicateMask" type="xs:int" />
      <xs:element minOccurs="0" name="FileSpec640" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSpec800" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MediaFileTypeMask" type="xs:int" />
      <xs:element minOccurs="0" name="MediaSufix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdLocationMedia" nillable="true" type="tns:AdLocationMedia" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdLocations" nillable="true" type="tns:ArrayOfAdLocation" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="ArrayOfAdLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdLocation" nillable="true" type="tns:AdLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdLocation" nillable="true" type="tns:ArrayOfAdLocation" />
  <xs:complexType name="AdOutStandingTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad" nillable="true" type="tns:Ad" />
      <xs:element minOccurs="0" name="AdId" type="xs:int" />
      <xs:element minOccurs="0" name="CampaignId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OutStandingTasks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TasksOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdOutStandingTask" nillable="true" type="tns:AdOutStandingTask" />
  <xs:complexType name="AdProductType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATMWorldAdType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdCategory" nillable="true" type="tns:AdCategory" />
      <xs:element minOccurs="0" name="AdCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Ads" nillable="true" type="tns:ArrayOfAd" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="SpecificProductCode" nillable="true" type="tns:SpecificProductCode" />
      <xs:element minOccurs="0" name="SpecificProductCodesId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdProductType" nillable="true" type="tns:AdProductType" />
  <xs:complexType name="AdCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="AdProductTypes" nillable="true" type="tns:ArrayOfAdProductType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdCategory" nillable="true" type="tns:AdCategory" />
  <xs:complexType name="ArrayOfAdProductType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdProductType" nillable="true" type="tns:AdProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdProductType" nillable="true" type="tns:ArrayOfAdProductType" />
  <xs:complexType name="SpecificProductCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdProductTypes" nillable="true" type="tns:ArrayOfAdProductType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecificProductCodesId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecificProductCode" nillable="true" type="tns:SpecificProductCode" />
  <xs:complexType name="AdRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACMCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ACMName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdRestrictionCategory" nillable="true" type="tns:AdRestrictionCategory" />
      <xs:element minOccurs="0" name="AdRestrictionId" type="xs:int" />
      <xs:element minOccurs="0" name="Ads" nillable="true" type="tns:ArrayOfAd" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RestrictionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdRestriction" nillable="true" type="tns:AdRestriction" />
  <xs:complexType name="AdRestrictionCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdRestrictionCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="AdRestrictionCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdRestrictions" nillable="true" type="tns:ArrayOfAdRestriction" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdRestrictionCategory" nillable="true" type="tns:AdRestrictionCategory" />
  <xs:complexType name="ArrayOfAdRestriction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdRestriction" nillable="true" type="tns:AdRestriction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdRestriction" nillable="true" type="tns:ArrayOfAdRestriction" />
  <xs:complexType name="ArrayOfAdOutStandingTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdOutStandingTask" nillable="true" type="tns:AdOutStandingTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdOutStandingTask" nillable="true" type="tns:ArrayOfAdOutStandingTask" />
</xs:schema>