Web/ACM/Service References/AdServiceRef/AdService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ACM.AdService/AdService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACM.Model.CustomModel" />
  <xs:import schemaLocation="http://localhost/ACM.AdService/AdService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ACM.Model" />
  <xs:element name="GetAdRestrictionCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdRestrictionCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACM.Model.CustomModel" minOccurs="0" name="GetAdRestrictionCategoryResult" nillable="true" type="q1:Restrictions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q2:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="GetOutstandingTaskResult" nillable="true" type="q3:ArrayOfAdOutStandingTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q4:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="AdInfoResult" nillable="true" type="q5:ArrayOfAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInq">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q6:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdInqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="AdInqResult" nillable="true" type="q7:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q8:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdMod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q9:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdModResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdModResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ACM.Model" minOccurs="0" name="request" nillable="true" type="q10:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>